block variables
  - const navLinks = [{link: "works.html", name: "Работы"},{link: "about.html", "О нас"}]

mixin headerNav(className, numberId, navLinks)
  header(class=className)
    nav(class="mb-1 mt-3 navbar users-navbar navbar-expand-md navbar-light")
      a(class="navbar-brand shadow-radial" href="index.html")
        img(src="img/logo.png" class="img-fluid" alt="logo")
      button(class="navbar-toggler" type="button" data-toggle="collapse" data-target=`#navbarSupportedContent-${numberId}`)
        span(class="navbar-toggler-icon")
      div(class="collapse navbar-collapse" id=`navbarSupportedContent-${numberId}`)
        ul(class="navbar-nav ml-auto menu")
          each i in navLinks
            li.nav-item
              a(href=i.link).nav-link=i.name

block header
  <!-- Navbar -->
  +headerNav("container d-none d-lg-block", 1, navLinks)
  <!-- /. Navbar -->