block variables

doctype html
html(lang="ru")
  block head
    head
      meta(charset="UTF-8")
      meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
      meta(http-equiv="x-ua-compatible" content="ie=edge")
      meta(name="description" content=pageDescription)
      meta(name="keywords" content=pageKeywords)
      title=pageTitle
      link(rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon")
      link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css")
      link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap")
      link(rel="stylesheet" href="css/style.css")

  body
    .wrap
      .content
        block header
          include header
        block content
      block footer
        include footer
    block scripts
      script(src='js/jquery.min.js')
      script(src='js/popper.min.js')
      script(src='js/bootstrap.min.js')
      script(src='js/mdb.min.js')
      script(src='js/jquery.scrollUp.js')
      script(src='js/scripts.js')