extends common/layout
block variables
  - let pageTitle = "Web-freelance"
  - let pageDescription = "Разработка, продвижение и дизайн сайтов. Верстка сайтов HTML, CSS, PHP/MySQL, фреймворк Yii2, Laravel, cms Wordpress, Joomla."
  - let pageKeywords = "Веб разработка, дизайн, продвижение."
block content